@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Alfa+Slab+One&family=Kablammo&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    background-color: #212121;
    color: white;
    font-family: cursive;
}
:root{
    --primary:#d666d6;
    --secondary: #55a0e6;
    --dark: #212121;
    --linght: #f3f3f3;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    background-color: black;
}
nav ul{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
nav ul li{
    position: relative;
    font-size: 20px;
    text-decoration: none;
    line-height: 17px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}
nav ul li a{
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}
nav ul li a::before{
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 8px solid var(--clr);
    -webkit-text-stroke: 1pz var(--clr);
}
nav ul li a:hover::before{
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr));
}
/*-----------------------------------------------------------*/
.cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    max-width: 1200px;
    padding: 20px;
}
.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s;
    justify-content: center;
    text-align: center;
}
.card:hover {
    transform: scale(1.05);
}
.card h2 {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 10px;
}
.card p {
    font-size: 0.95rem;
    color: #555;
    line-height: 1.5;
}