@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Alfa+Slab+One&family=Kablammo&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    background-color: #212121;
    color: white;
    font-family: cursive;
}
:root{
    --primary:#d666d6;
    --secondary: #55a0e6;
    --dark: #212121;
    --linght: #f3f3f3;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    background-color: black;
}
nav ul{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
nav ul li{
    position: relative;
    font-size: 20px;
    text-decoration: none;
    line-height: 17px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}
nav ul li a{
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}
nav ul li a::before{
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 8px solid var(--clr);
    -webkit-text-stroke: 1pz var(--clr);
}
nav ul li a:hover::before{
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr));
}
/*-----------------------------------------------------------*/
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card{
    margin: 100px auto 0;
    width: 400px;
    height: 600px;
    perspective: 1000px;

}
.card_inner{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
.card_inner.is-flipped{
    transform: rotateY(180deg);
}
.card_face{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.2);
}
.card_face--front{
    background-image: linear-gradient(to bottom right, var(--primary),var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_face--front h2{
    color: #fff;
    font-size: 20px;
}
.card_face--back{
    background-color: var(--linght);
    transform: rotateY(180deg);
}
.card_content{
    width: 100%;
    height: 100%;
}
.card_header{
    position: relative;
    padding: 30px 30px 40px;
}
.card_header:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom left, var(--secondary) 10%,var(--primary)115%);
    z-index: -1;
    border-radius: 0px 0px 50% 0px;
}
.logos{
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 5px solid #fff;
    object-fit: cover;
}
.card_header h2{
    color: #fff;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}
.card_body{
    padding: 30px;
}
.card_body h4{
    color: var(--dark);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}
.card_body p{
    color: var(--dark);
    font-size: 18px;
    line-height: 1.4;
}